.container__acountinfo {
  display: grid;

  grid-template-columns: repeat(9, [col-start] 1fr [col-end]);
  grid-template-rows: [header-start] 15vh [header-end content-start] 1fr [content-end];

  //style
  background-color: rgba($color: #000000, $alpha: 0.3);
}

//Seperator
.seperator {
  height: 1px;
  width: 100%;

  border-bottom: $border-light;
}

.info {
  &__logo {
    grid-column: col-start 1 / col-end 2;
    grid-row: header-start / header-end;

    //Content

    &-icon {
      height: 20rem;

      margin-top: -4rem;
      margin-left: -2rem;
    }
  }

  &__menu {
    grid-column: col-start 8 / col-end 9;
    grid-row: header-start / header-end;

    //Content
  }

  &__content {
    grid-column: 1 / -1;
    grid-row: content-start / -1;

    //Content
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

//INNER CONTAINER
.info__content-container {
  width: 70%;

  background-color: white;
  border-radius: 3rem;
  padding: 3rem 3rem;
  margin-bottom: 5rem;

  // overflow-y: auto;

  & > * {
    margin-bottom: 2rem;
  }

  position: relative;
}

//BLOCKS IN INFO
.info {
  &-header {
    width: 100%;

    color: grey;

    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(grey, 0.5);
  }

  &-name {
    padding: 1rem 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: $border-light;
    border-radius: 1rem;

    &--avatar-1 {
      height: 6rem;
      margin-right: 1rem;
    }

    &--first {
      font-size: 3rem;
      margin-right: 0.5rem;
    }

    &--last {
      font-size: 2rem;
    }
  }

  &-email {
    &--header {
      color: grey;
      margin-bottom: 1rem;
    }

    &--content {
      outline: none;
      text-decoration: none;
      border: $border-light;
      font-style: inherit;
      padding: 1rem 2rem;
      border-radius: 1rem;
      width: 45%;
    }
  }

  &-userDetails {
    &--header {
      color: grey;
      margin-bottom: 1rem;
    }

    &--content {
      & > * {
        margin-right: 2rem;
      }
    }

    &--username {
      outline: none;
      text-decoration: none;
      border: $border-light;
      font-style: inherit;
      padding: 1rem 2rem;
      border-radius: 1rem;
      width: 45%;
    }

    &--password {
      outline: none;
      text-decoration: none;
      border: $border-light;
      font-style: inherit;
      padding: 1rem 2rem;
      border-radius: 1rem;
      width: 45%;
    }
  }

  &-phone {
    &--header {
      color: grey;
      margin-bottom: 1rem;
    }

    &--content {
      outline: none;
      text-decoration: none;
      border: $border-light;
      font-style: inherit;
      padding: 1rem 2rem;
      border-radius: 1rem;
      width: 45%;
    }
  }

  &-address {
    &--header {
      color: grey;
      margin-bottom: 1rem;
    }

    &--content {
      & > * {
        margin-right: 2rem;
        margin-bottom: 1rem;
      }
    }

    &--number {
      outline: none;
      text-decoration: none;
      border: $border-light;
      font-style: inherit;
      padding: 1rem 2rem;
      border-radius: 1rem;
      width: 45%;
    }

    &--street {
      outline: none;
      text-decoration: none;
      border: $border-light;
      font-style: inherit;
      padding: 1rem 2rem;
      border-radius: 1rem;
      width: 45%;
    }

    &--city {
      outline: none;
      text-decoration: none;
      border: $border-light;
      font-style: inherit;
      padding: 1rem 2rem;
      border-radius: 1rem;
      width: 45%;
    }

    &--zip {
      outline: none;
      text-decoration: none;
      border: $border-light;
      font-style: inherit;
      padding: 1rem 2rem;
      border-radius: 1rem;
      width: 45%;
    }

    &--map {
      width: 100%;
      height: 30rem;
    }
  }
}

.backToHome {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: -15%;

  &-btn {
    height: 5rem;
    width: 5rem;
    border: none;
    border-radius: 3rem;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      background-color: var(--color-fade-blue);
      box-shadow: 0 0.5rem 1rem rgba(black, 0.5);
    }
  }
}
