//Colors
:root {
  --color-primary: #ffcfdf;
  --color-secondary: #fefdca;
  --color-fade-green: #e0f9b5;
  --color-fade-blue: #a5dee5;
  --color-fade-grey: #706c61;

  /* 
  --color-primary: #212121;
  --color-secondary: #323232;
  --color-dark-blue: #0D7377;
  --color-light-blue: #14FFEC;
  */

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --line: 1px solid var(--color-grey-light-2);
}

//Styling
$border-light: 1px solid rgba(grey, 0.5);

//FONT FAMILY
$font-primary: 'Cabin', sans-serif;

//Screen sizes
$bp-largest: 75em; //1200px / 16px : 75em
$bp-large: 68.75em; //1100px / 16px : 68.75em
$bp-medium: 56.25em; //900px / 16px : 56.25em
$bp-small: 37.5em; //600px / 16px : 37.5em
$bp-smallest: 23.43em; //375px / 16px : 23.43em

//Initial setup
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.6;
}
