//Main container
.container__home {
  display: flex;
  flex-direction: column;

  position: relative;

  height: 100vh;
  width: 100vw;
  overflow: hidden;

  background-color: RGB(241, 239, 231);
  /* background-image: linear-gradient(
    120deg,
    var(--color-primary),
    var(--color-secondary)
  ); */

  @media only screen and (max-width: $bp-small) {
    overflow-y: auto;
    padding-bottom: 2rem;
  }
}

//Home header
.home__header {
  //   height: 10rem;
  &-icon {
    height: 20rem;
    margin-top: -2rem;
    margin-left: -2rem;
  }

  &-blob {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    margin-top: -20rem;
    margin-right: -50rem;
    height: 70rem;
    opacity: 0.3;
  }
}

//home body
.home__body {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    justify-content: center;
  }

  &-icon {
    height: 50rem;
    margin-left: 3rem;
    margin-top: 0rem;

    @media only screen and (max-width: $bp-small) {
      height: 50rem;
      margin-left: 0;
    }

    @media only screen and (max-width: $bp-smallest) {
      height: 30rem;
    }
  }
  &-info {
    margin-right: 20rem;
    margin-top: -15rem;
    line-height: 1.6;
    width: 30rem;

    @media only screen and (max-width: $bp-small) {
      margin-top: 5rem;
      margin-right: 0;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &--title {
    }
    &--sub {
      font-style: italic;
    }
    &--desc {
      color: grey;
    }
  }
}

//btn shopnow
.btn-shopnow {
  position: relative;
  z-index: 2;
  display: inline-block;
  border: none;
  text-decoration: none;
  outline: 0.5px solid var(--color-fade-green);
  margin-top: 3rem;
  padding: 1.6rem 3rem;
  background-color: var(--color-fade-blue);
  border-radius: 3rem;
  box-shadow: 0.5rem 1rem 2rem rgba(black, 0.2);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
    box-shadow: none;
  }
}
