.heading-1 {
  font-family: inherit;
  font-size: 6rem;
  font-weight: 700;
}

.heading-2 {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
}

.heading-3 {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 400;
}

.text-1 {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 400;
}
